package layout

templ Base(){
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/public/output.css" rel="stylesheet"/>
        <title>Admin Page</title>
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    </head>
    <body>
        <div id="content">
            { children... }
        </div>
    </body>
    </html>
}